<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fxymine4ever.module_main">

    <application tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.fxymine4ever.main.ui.ContainerActivity"
            android:label="@string/title_activity_container"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>